*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;
	color:#0d0408;
}
.top{
	width:1200px;
	height:40px;
	margin:0 auto;
}
.top1{
	float:right;
	height:40px;
	font-size:14.78px;
}
.top1 li{
 	display:inline;
	margin-left: 30px;
}
.x2{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
}
.x2 img{
	float: left;
	margin-top: 30px;
}
.x2 div{
	float: left;
	width: 600px;
	border: 1px solid #393942;
	margin-top: 45px;
	margin-left: 175px;
}
.x2 .x21{
	float: right;
	margin-top: 64px;
}
.x2 div input{
	height: 45px;
	width: 540px;
	border: 0px;
	color: #efefef;
	text-align: center;
	float: left;
	font-size: 15px;
}
.x2 div button{
	height:45px ;
	width: 59px;
	border: 0px;
	border-left: 1px solid #cccccc;
	background:white url('所需小图/search.png') no-repeat center;
	float: right;
}
.x3{
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	line-height: 38px;
	margin-top: 20px;
}
.x3 .x31{
	border: 0px;
	font-size: 15px;
	height: 38px;
	float: left;
	font-weight: 600;
}
.x3 .x32{
	float: left;
}
.x3 .x32 li{
	float: left;
	height: 38px;
	width: 80px;
	text-align: center;
	margin-right: 44px;
}
.x3 .x32 .x33{
	margin-right: 0px;
}
.x3 .x32 li:hover{
	color: #3aa747;
	border-bottom: 3px solid #3aa747;
	height: 35px;
}
.i1{
	border-top: 4px solid #3aa747;
	height:674px ;
	background:#000 url('所需小图/banner.png') center;
}
.y1{
	height: 60px;
	width: 1200px;
	margin: 0 auto;
	line-height: 60px
}
.y1 span{
	font-size: 18px;
	margin-left:30px;
}
.y1 .y12{
	margin-left: 12px;
}
.y1 .y11{
	font-size: 14px;
	color: #a9a8a8;
	margin-left: 12px;
}
.y1 p{
	font-size: 14px;
	color: #a9a8a8;
	float: right;
	line-height: 14px;
	margin-top: 32px;
}
.y2{
	height: 135px;
	width: 1200px;
	margin: 0 auto;
}
.y2 .s1{
	height: 45px;
	width: 1200px;
	border: 1px solid #737373;
	border-top: 0px;
}
.y2 .s11{
	border-top: 1px solid #737373;
}
.y2 .s1 li{
	float: left;
	width: 110px;
	height: 45px;
	line-height: 45px;
	margin:0 10px 0 0;
	text-align: center;
}
.y2 .s1 li a:link{
	font-size: 16px;
	color: #737373;
}
.y2 .s1 li a:visited{
	color: #3aa747;
}
.y2 .s1 li:first-child{
	background: #e5e5e5;
	color: black;
	font-weight: 500;
}
.y2 .s1 div{
	float: right;
	width: 110px;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	margin:0 10px 0 0;
	text-align: center;
	color: #737373;
}
.i2{
	padding-top: 55px;
	width: 1190px;
	height: 705px;
	margin: 0 auto;
}
.i2 li{
	float: left;
	height: 293px;
	width: 273px;
	border: 1px solid black;
	margin: 0 30px 30px 0;
	text-align: center;
	position: relative;
}
.i2 li div{
	position: absolute;
	bottom: 0px;
	width: 273px;
	height: 50px;
	background-color: black;
	opacity: 0.7;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	line-height: 25px;
}
.i2 li img{
	float: left;
	margin: 25px 0 10px 25px;
}
.i2 li:first-child img{
	margin: 0px;
}
.i2 .t1{
	margin-right: 0px;
}
.i2 li:hover div{
	height: 293px;
	line-height: 45px;
	font-size: 22px;
}
.i2 li:hover div p:first-child{
	margin-top: 100px;
}
.z4{
	width: 1200px;
	height: 102px;
	margin: 0 auto;
	background-color: #f5f5f5;
}
.z4>ul>li{
	float: left;
	width: 250px;
	padding-top: 29px;
	padding-left: 35px;
	margin: 0 auto;
	text-align: left;
}
.z4>ul>li>p{
	float: right;
	padding-left: 23px;
	color: #7b7b7b;
}
.v1{
	text-indent: 5em;
}
.v2{
	float: left;
	margin-top: 28px;
}
.bottom{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	background-color: #323232;
	text-align: center;
	font-size: 12px;
}
.bottom > p{
	color: #f5f5f5;
}
.b1{
	padding-top: 33px;
}
.b2{
	padding-top: 15px;
}